@import "tailwindcss";
@source "./App.tsx";
@source "./components/**/*.{ts,tsx}";
@source "../index.html";
@source "../src/components/**/*.{ts,tsx}";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}