@import "tailwindcss";
@source "./App.tsx";
@source "./components/**/*.{ts,tsx}";
@source "../index.html";
@source "../src/components/**/*.{ts,tsx}";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@keyframes shake {
  0%, 20%, 100% { transform: translateX(0); }
  3%, 9%, 15% { transform: translateX(-5px); }
  6%, 12%, 18% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 5s ease-in-out infinite;
}